@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
  height: 100vh;
  margin: 0;
  overflow: hidden;
  font-family: Roboto, sans-serif;
  font-size: 10px;
  align-items: center;
}

.imaging{
  display: flex;
  justify-content: center;

}

img {
  width: 600px;
}

.input {
  display: flex;
  justify-content: center;
  margin-bottom: 8px;
}

.header{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.header .left-links {
  display: flex;
  flex-direction: row;
  gap: 16px;
}

.header .right-links {
  display: flex;
  flex-direction: row;
  gap: 16px;
  margin-right: 16px;
}

.buttons {
  font-family: Roboto, sans-serif;
  border: none;
  border-radius: 8px;
  background: white;
  display: flex;
  justify-content: center;
  gap: 4px;
}

input {
  border: 1px solid #ddd;
  border-radius: 16px;
  padding: 8px 24px;
  width: 400px;
  }

.footer {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  height: 52px;
  display: flex;
  justify-content: space-between;
  background: #eee;
  padding-left: 10px;
  padding-right: 10px;
}

.footer .left-links {
  display: flex;
  flex-direction: row;
  gap: 16px;
}

.footer .right-links {
  display: flex;
  flex-direction: row;
  gap: 16px;
}

a {
  /* this removes the line under our links */
  text-decoration: none;
  color: rgb(68, 66, 66);
}

ul {
  list-style-type: none;
}