.container {
  display: flex; /*This is needed to tell the browser that the stacks would line up along the x-axis, i.e row-wise */
  flex-direction: row;
  align-items: center;
  justify-content: center;
  background: dodgerblue;
  border: 4px solid midnightblue;
  width: 400px;
  height: 300px;
}

.box {
  background: palevioletred;
  font-weight: bold;
  text-align: center;
  border: 6px solid maroon;
  width: 80px;
  height: 80px;
  /* flex: 1; do not add this as it will instruct the child stack to fill up the width of the entire container of its mother */
}